@import url(../math_styles.css);

dd table {
    border-spacing: 0;

    th, td {
        border: 1px solid var(--text-color);
        border-left: none;
        border-right: none;
        padding: 30px;
        margin: 0;
        text-align: center;
    }

    th {
        border: none;
    }
}

.tabulation {
    th, td {
        border-bottom: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
    }
}

.cartesian {
    border-spacing: 0;

    th, td {


        padding: 30px;
        margin: 0;
        text-align: center;
    }
    td {
        border: none;
        border-bottom: 1px solid var(--text-color);
    }

    th {
        border: none;
    }

    .cartesian-bottom {
        border-bottom: none;
    }



    .cartesian-left {
        border-right: 1px solid var(--text-color);
    }
}