@import url(../styles.css);

#field {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: space-around;
}

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*}*/

div {
    /*padding: 100em !important;*/
}